
.TopNav{
  display: flex;
  justify-content: center;
}

.nav{
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links{
  display: flex;
  align-items: center;
  gap: 30px;
}

a{
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

a:hover{
  color: aqua;
  transition: all 0.2s linear;
}

.mybtn{
  width: 100px;
  padding: 10px;
  background-color: hsl(9, 65%, 58%);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
}

.mybtn:hover{
  background-color: aqua;
  color: black;
  transition: all 0.3s linear;
}

.main-page{
  height: 100vh;
  scrollbar-width: none;
  color: white;
  background: url('./img/bg.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-page::-webkit-scrollbar{
  display: none;
}

.home-page{
  height: 100vh;
  scroll-snap-align: center;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  font-size: 54px;
}

h3{
  font-size: 30px;
  width: 200px;
  text-align: center;
}

.inside-left{
  display: flex;
  align-items: center;
  gap: 8px;
}

p{
  font-size: 20px;
  color: lightgray;
}

.Homebtn{
  background-color: hsl(9, 65%, 58%);
  cursor: pointer;
  font-weight: 500;
  color: white;
  height: 30px;
  font-size: 1rem;
  border-radius: 2rem;
}

.Homebtn:hover{
  background-color: aqua;
  color: black;
  transition: all 0.3s linear;
}

.homeImg{
  height: 500px;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate{
  to{
    transform: translateY(20px)
  }
}








.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  margin-left: 15%;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  color:black;
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  display: block;
  margin-bottom: 0.5rem;
}

.popup input[type="text"],
.popup input[type="email"],
.popup input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button + button {
  margin-left: 1rem;
}

.popup button:hover {
  background: #0062cc;
}
